<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.livarter.app.mapper.BadgeMapper">

    <!--    @author : 황수영  -->
    <!--    @fileName : BadgeMapper  -->
    <!--    @since : 2024-01-24  -->
    <!--    내용 : 뱃지 관련 기능  -->

    <select id="getBadgesByMember" resultType="com.livarter.app.dto.BadgeMember" >
        SELECT badge_member.is_earned AS isEarned
             , badge.id AS id
             , badge.name AS name
             , badge.image AS image
             , badge.description AS description
        FROM badge_member
        JOIN badge
        ON badge_member.badge_id = badge.id
        WHERE badge_member.member_id = #{memberId}
        ORDER BY badge.id
    </select>

    <insert id="createBadges" >
        INSERT INTO badge_member ( id
                                 , badge_id
                                 , member_id
                                 , is_earned)
        VALUES ( badge_member_id_seq.nextval
               ,  #{badgeId}
               , #{memberId}
               , 0)
    </insert>

    <update id="earedBadge">
        UPDATE badge_member
        SET is_earned = 1
        WHERE badge_member.member_id = #{memberId}
        AND badge_member.badge_id = #{badgeId}
    </update>

    <select id="getBadge" resultType="com.livarter.app.domain.Badge" >
        SELECT id AS id
             , name AS name
             , image AS image
             , description AS description
        FROM badge
        WHERE badge.id = #{badgeId}
    </select>

</mapper>