<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.livarter.app.mapper.MemberMapper">

    <!--    @author : 황수영  -->
    <!--    @fileName : MemberMapper  -->
    <!--    @since : 2024-01-24  -->
    <!--    내용 : 회원 관련 기능  -->

    <insert id="saveMember" parameterType="com.livarter.app.domain.Member" >
        INSERT INTO member ( id
                           , email
                           , nickname
                           , role
                           , grade
        )
        VALUES ( member_id_seq.nextval
               , #{email}
               , #{nickname}
               , #{role, typeHandler=com.livarter.app.config.DatabaseEnumTypeHandler}
               , #{grade, typeHandler=com.livarter.app.config.DatabaseEnumTypeHandler}
               )
    </insert>

    <select id="findById" resultType="com.livarter.app.domain.Member" >
        SELECT   id AS id
               , phone AS phone
               , email AS email
               , nickname AS nickname
               , role AS role
               , image AS image
               , refresh_token AS refreshToken
               , grade AS grade
               , name AS name
               , address AS address
               , zip_code AS zipCode
               , birth_date AS birthDate
               , cur_point AS curPoint
               , total_point AS totalPoint
               , created_at AS createdAt
               , updated_at AS updatedAt
        FROM   MEMBER
        WHERE  id = #{id}
    </select>

    <select id="findByEmail" resultType="com.livarter.app.domain.Member" >
        SELECT id AS id
             , phone AS phone
             , email AS email
             , nickname AS nickname
             , role AS role
             , image AS image
             , refresh_token AS refreshToken
             , grade AS grade
             , name AS name
             , address AS address
             , zip_code AS zipCode
             , birth_date AS birthDate
             , cur_point AS curPoint
             , total_point AS totalPoint
             , created_at AS createdAt
             , updated_at AS updatedAt
        FROM   MEMBER
        WHERE  email = #{email}
    </select>

    <update id="updateRefreshToken" parameterType="com.livarter.app.domain.Member">
        UPDATE MEMBER
        SET refresh_token = #{refreshToken}
        WHERE id = #{id}
    </update>

    <update id="updateMember" parameterType="com.livarter.app.dto.MemberUpdateReqDto">
        UPDATE MEMBER
        <set>
            <if test="nickname != null">nickname=#{nickname}</if>
            <if test="phone != null">, phone=#{phone}</if>
            <if test="image != null">, image=#{image}</if>
            <if test="name != null">, name=#{name}</if>
            <if test="address != null">, address=#{address}</if>
            <if test="zipCode != null">, zip_code=#{zipCode}</if>
            <if test="birthDate != null">, birth_date=TO_DATE(#{birthDate}, 'YY/MM/DD')</if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getMemberGradeInfo">
        SELECT
            member.cur_point AS curPoint,
            member.total_point AS totalPoint,
            membership.name AS name,
            membership.image AS image
        FROM member
        JOIN membership
        ON member.grade = membership.name
        WHERE member.id = #{memberId}
    </select>

    <update id="increasePoint">
        UPDATE member
        SET cur_point = cur_point + #{point}
        WHERE id = #{memberId}
    </update>

    <update id="decreasePoint">
        UPDATE member
        SET cur_point = cur_point - #{point}
        WHERE id = #{memberId}
    </update>

    <select id="countPurchaseHistoryByMemberId">
        SELECT COUNT(purchase_history_id)
        FROM member, history_detail
        WHERE member.id = history_detail.member_id
          AND member.id = #{memberId}
    </select>

    <select id="getCatalogs">
        SELECT hashtag.id AS id
             , hashtag.left_chair AS leftChair
             , hashtag.right_chair AS rightChair
             , hashtag.sofa AS sofa
             , hashtag.hashtag AS hashtag
             , hashtag.background AS background
             , hashtag.deco AS deco
        FROM hash_product, hashtag
        WHERE hash_product.hashtag_id = hashtag.id
        AND hash_product.product_id IN (
            SELECT
            history_detail.product_id AS product_id
            FROM member, history_detail
            WHERE member.id = history_detail.member_id
            AND member.id = #{memberId}
        )
    </select>

</mapper>